## 作業1

In [2]:
fruits = ["香蕉","蘋果","橘子","西瓜"]
while True:
    fruit = input("請輸入水果(Enter結束)")
    if fruit == "":
        break
    n = fruits.count(fruit)
    if n == 0:
        print(f"{fruit}不在清單內")
    else:
        n = fruits.index(fruit)
        print(f"{fruit}在清單內在第{n}")

請輸入水果(Enter結束)蘋果
蘋果在清單內在第1
請輸入水果(Enter結束)橘子
橘子在清單內在第2
請輸入水果(Enter結束)

## 作業2
## 輸入四個月的支出金額後列出最多與最少的支出金額。

In [4]:
priceList=[]
priceSum = 0
for i in range(1,5):
    p = int(input(f"請輸入{i}個月的支出金額"))
    priceSum = priceSum + p
    priceList.append(p)
priceList.sort()   

min(priceList)
print(f"max:{priceList[len(priceList)-1]}") 
print(f"min:{priceList[0]}")
print(priceSum)    
print(priceList) 

print(sum(priceList))
print(max(priceList))    
print(min(priceList))

請輸入1個月的支出金額1000
請輸入2個月的支出金額2000
請輸入3個月的支出金額3000
請輸入4個月的支出金額4000
max:4000
min:1000
10000
[1000, 2000, 3000, 4000]
10000
4000
1000

## 輸出格式

In [15]:
name = "Ken"
age = 16
height = 178.56789
msg2 = f"姓名:{name} 年齡:{age} 身高:{height:.2f}"
print(msg2)

姓名:Ken 年齡:16 身高:178.57

## 自訂函數進階操作

In [19]:
def printInfo(name,age):
    print("Name:",name)
    print("Age:",age)
printInfo("Ken",25)    
printInfo(99,"Vivin") 
printInfo("Lucy")

Name: Ken
Age: 25
Name: 99
Age: Vivin

TypeError: printInfo() missing 1 required positional argument: 'age'

In [24]:
def printInfo2(name="may",age=20):
    print("Name:",name)
    print("Age:",age)
    print("==========================")
printInfo2()
printInfo2(19,"Ken")
printInfo2("Vivin")
printInfo2("Iris",10)

Name: may
Age: 20
==========================
Name: 19
Age: Ken
==========================
Name: Vivin
Age: 20
==========================
Name: Iris
Age: 10
==========================

In [33]:
#只要參數給了預設值之後都要有預設值
# 順序 沒有預設值 有預設值
def printInfo3(name="Ken",age=10,h=0,w=0 ):
    print("Name:",name)
    print("Age:",age)
    print("Height:",h)
    print("Weight:",w)
printInfo3("Ken",18,200,65)

Name: Ken
Age: 18
Height: 200
Weight: 65

In [46]:
def printInfo3(name="Ken",age=10,h=0,w=0 ):
    print("Name:",name)
    print("Age:",age)
    print("Height:",h)
    print("Weight:",w)
    print("=========================")
printInfo3("Vivin",w = 30,h = 120)    
printInfo3("Iris",w = 30,h = 120)

Name: Vivin
Age: 10
Height: 120
Weight: 30
=========================
Name: Iris
Age: 10
Height: 120
Weight: 30
=========================

### 不固定接收數量

( ) 內接收資料若是以 * 表示代表可以引入不定數量的參數：

一個*代表以 tuple 的方式引入

兩個*代表以 dict 的方式引入

接收資料若需加入多個設定，這些設定請依照順序排列：

第一個參數設定為接收值 

第二個參數設定為初始值

第三個參數設定為不固定值，可以是 tuple 或 dict 方式

In [44]:
def fun1(ag1,ag2 = "default",*ag3):
    print("age1:",ag1)
    print("age2:",ag2)
    for v in ag3:
        print("v:",v)
    print("=======================")    
fun1(1)
fun1(1,2)
fun1(1,2,3)
fun1(1,2,3,4)

age1: 1
age2: default
=======================
age1: 1
age2: 2
=======================
age1: 1
age2: 2
v: 3
=======================
age1: 1
age2: 2
v: 3
v: 4
=======================

In [79]:
def fun1_2(title="title",*ag3):
    print("title:",title)
    print(ag3)
    for ag in ag3:
        print(ag)
fun1_2("MyStudent:","Ken","Vivin","Joy")
fruits = ["Apple","Banana","Kiwi"]
fun1_2("水果",*fruits)#*fruits 展開fruits的內容

title: MyStudent:
('Ken', 'Vivin', 'Joy')
Ken
Vivin
Joy
title: 水果
('Apple', 'Banana', 'Kiwi')
Apple
Banana
Kiwi

In [77]:
def fun1_2(*ag3,title="title"):
    print("title:",title)
    print(ag3)
    for ag in ag3:
        print(ag)
fun1_2("MyStudent:","Ken","Vivin","Joy")
fruits = ["Apple","Banana","Kiwi"]
fun1_2(*fruits,title="水果")#*fruits 展開fruits的內容

title: title
('MyStudent:', 'Ken', 'Vivin', 'Joy')
MyStudent:
Ken
Vivin
Joy
title: 水果
('Apple', 'Banana', 'Kiwi')
Apple
Banana
Kiwi

In [92]:
def fun2(arg1,arg2 = "default",**arg4):
    print(arg1)
    print(arg2)
    for k in arg4:
        print(f"{k}:{arg4[k]}")
    print("======================")    
fun2(1)
fun2(1,2)
fun2(1,2,name="Ken",age=18)

1
default
======================
1
2
======================
1
2
name:Ken
age:18
======================

In [97]:
def calculate(*values,**args):
    cType = "+"
    if  "cType" in args:
        cType = args["cType"]
    
    result = 0
    if cType == "*":
        result = 1
        
    for v in values:
        if cType == "+":
            result += v
        elif cType == "*":
            result *= v
    return  result

print(calculate(1,2,3,4))
print(calculate(1,2,3,4,cType = "*"))

10
24

In [102]:
#arg1 一定要填
#arg2
#arg3
#會把傳入的參數加起來
def fun3(arg1,arg2 = 300,*arg3):
    sum1 = 0
    sum1 += arg1
    sum1 += arg2
    for arg in arg3:
        sum1 += arg
    #print(sum1)    
    return sum1
print(fun3(1))#輸出301
print(fun3(1,2))#輸出3
print(fun3(1,2,4,5)) #輸出12

301
3
12