In [6]:
import pandas as pd
import numpy as np
fruits = ["蘋果","橘子","梨子","櫻桃"]
price = [15,33,45,55]
n1 = np.array(fruits)
p1 = np.array(price)
print(n1)
print(p1)
print("="*70)
s1 = pd.Series(price)
print(s1)
print("="*70)
s2 = pd.Series(price,index =fruits )
print(s2)
print("="*70)
print(s1.median())
print("="*70)
print(s1.mean())
print("="*70)
print(s1.max())
print("="*70)
print(s1.min())
print("="*70)
print(s1.describe())

['蘋果' '橘子' '梨子' '櫻桃']
[15 33 45 55]
======================================================================
0    15
1    33
2    45
3    55
dtype: int64
======================================================================
蘋果    15
橘子    33
梨子    45
櫻桃    55
dtype: int64
======================================================================
39.0
======================================================================
37.0
======================================================================
55
======================================================================
15
======================================================================
count     4.000000
mean     37.000000
std      17.204651
min      15.000000
25%      28.500000
50%      39.000000
75%      47.500000
max      55.000000
dtype: float64

In [10]:
import pandas as pd
data = {"Name":["Tom","Jack","Steve","Ricky"],
        "Age":[28,34,29,42]}
print(data)
print(type(data))
df = pd.DataFrame(data)
print(df)
df2 = pd.DataFrame(data,index = ["score1","score2","score3","score4"])
print(df2)

{'Name': ['Tom', 'Jack', 'Steve', 'Ricky'], 'Age': [28, 34, 29, 42]}
<class 'dict'>
    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42
         Name  Age
score1    Tom   28
score2   Jack   34
score3  Steve   29
score4  Ricky   42

In [14]:
import pandas as pd
data = ["Tom","Jack","Steve","Ricky"]
df = pd.DataFrame(data)
print(df)
df2 = pd.DataFrame(data,index = ["score1","score2","score3","score4"] ,columns=["Name"])
print(df2)

       0
0    Tom
1   Jack
2  Steve
3  Ricky
         Name
score1    Tom
score2   Jack
score3  Steve
score4  Ricky

In [15]:
import  pandas as pd
groups=['Python','Django','Sqlite','Numpy','Security','Pandas']
numbers=[59,9,19,14,6,77]
gDict = {"groups":groups,"numbers":numbers}
df = pd.DataFrame(gDict)
print(df)

     groups  numbers
0    Python       59
1    Django        9
2    Sqlite       19
3     Numpy       14
4  Security        6
5    Pandas       77

In [18]:
import  pandas as pd
import  numpy as np
array1=np.array([[10,30],[20,40]])
print(array1)
df = pd.DataFrame(array1)
print(df)
df2 = pd.DataFrame(array1,columns=["col1","col2"],index=["row1","row2"])
print(df2)

[[10 30]
 [20 40]]
    0   1
0  10  30
1  20  40
      col1  col2
row1    10    30
row2    20    40

In [20]:
import pandas as pd
d = {"one":pd.Series([1,2,3],index=["a","b","c"]),
    "two":pd.Series([1,2,3,4],index=["a","b","c","d"])}
df1 = pd.DataFrame(d)
print(df1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

## Pandas 讀取CSV

In [26]:
import pandas as pd
df1 = pd.read_csv("./ex1.csv")
print(df1)
df2 = pd.read_csv("./ex1.csv",header=None)
print(df2)
df3 = pd.read_csv("./ex1.csv",names=list("abcde"))
print(df3)

   a   b   c   d          message
0  1   2   3   4            hello
1  5   6   7   8            world
2  9  10  11  12  good
   0   1   2   3                4
0  a   b   c   d          message
1  1   2   3   4            hello
2  5   6   7   8            world
3  9  10  11  12  good
   a   b   c   d                e
0  a   b   c   d          message
1  1   2   3   4            hello
2  5   6   7   8            world
3  9  10  11  12  good

In [35]:
import  pandas as pd
import  numpy as np
#龘 (音踏)
#犇(音奔)
data={
    'Name':['犇','中文','龘','Ricky'],
    'Age':[28,34,29,42]
}
print(data)
df = pd.DataFrame(data)
print(df)
df.to_csv("df1a.csv",encoding="utf-8")
df.to_html("df1.html")
df.to_csv("df1b.csv",index=False,encoding="utf-8")

{'Name': ['犇', '中文', '龘', 'Ricky'], 'Age': [28, 34, 29, 42]}
    Name  Age
0      犇   28
1     中文   34
2      龘   29
3  Ricky   42

In [38]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\xvpow\anaconda3\lib\site-packages (1.2.0)

In [45]:
import  pandas as pd
import  numpy as np
#龘 (音踏)  犇(音奔)
data={
    'Name':['犇','中文','龘','Ricky'],
    'Age':[28,34,29,42]
}
print(data)
df=pd.DataFrame(data)
writer=pd.ExcelWriter('df.xlsx')#輸出Excel
df.to_excel(writer,'Sheet3')
df1=pd.DataFrame(np.arange(9).reshape(3,3),
                 index=['a','c','d'],
                 columns=['One','Two','Three'])
df1.to_excel(writer,'哈囉')
writer.close()

{'Name': ['犇', '中文', '龘', 'Ricky'], 'Age': [28, 34, 29, 42]}

In [46]:
import  pandas as pd
import  numpy as np
#龘 (音踏)
#犇(音奔)
df=pd.read_excel('df.xlsx')
print(df)
print()
df=pd.read_excel('df.xlsx',1)
print(df)

   Unnamed: 0   Name  Age
0           0      犇   28
1           1     中文   34
2           2      龘   29
3           3  Ricky   42

  Unnamed: 0  One  Two  Three
0          a    0    1      2
1          c    3    4      5
2          d    6    7      8

## 新增資料

In [56]:
import pandas as pd
d = {'one':pd.Series([1,2,3],index=['a','b','c']),
     'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df1 = pd.DataFrame(d)
print(df1)
df1["three"] = [10,11,12,13]
print(df1)
df2 = pd.DataFrame([[20, 21, 22]], columns=['one', 'two', 'three'],index=['a','b','c'])
print(df2)
df3 = pd.concat([df1,df2],ignore_index=True)
print(df3)
#修改one
df1["one"] = [4,5,6,0]
print(df1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
   one  two  three
a  1.0    1     10
b  2.0    2     11
c  3.0    3     12
d  NaN    4     13
   one  two  three
a   20   21     22
b   20   21     22
c   20   21     22
    one  two  three
0   1.0    1     10
1   2.0    2     11
2   3.0    3     12
3   NaN    4     13
4  20.0   21     22
5  20.0   21     22
6  20.0   21     22
   one  two  three
a    4    1     10
b    5    2     11
c    6    3     12
d    0    4     13

### 使用 loc(文字 m:n 會包含到n)
+ .loc[ ], 中括弧裡面是先 row 後 column，以逗號分開。
+ row 與 column 要放入的是 row 標籤與 column 標籤。
+ 可於 row 或 column 加入「：」 ，代表指定起訖範圍。

In [69]:
import  pandas as pd
import  numpy as np
df=pd.DataFrame(
    np.arange(48).reshape(6,8),
    index=['a','b','c','d','e','f'],
    columns=['s','t','u','v','w','x','y','z'])
print(df)
print()
print(df.loc['a',:])
print(df.loc['a','t'])
print(df.loc['c':'e','w':'y'])
print(df.loc[['c','e'],['w','y']])
print(df.loc[:,'x'])

    s   t   u   v   w   x   y   z
a   0   1   2   3   4   5   6   7
b   8   9  10  11  12  13  14  15
c  16  17  18  19  20  21  22  23
d  24  25  26  27  28  29  30  31
e  32  33  34  35  36  37  38  39
f  40  41  42  43  44  45  46  47

s    0
t    1
u    2
v    3
w    4
x    5
y    6
z    7
Name: a, dtype: int32
1
    w   x   y
c  20  21  22
d  28  29  30
e  36  37  38
    w   y
c  20  22
e  36  38
a     5
b    13
c    21
d    29
e    37
f    45
Name: x, dtype: int32

### 使用 iloc
+ iloc[ ] 與 loc 一樣，中括弧裡面也是先 row 後 column，行列標籤用逗號分開。
+ 與 loc 不同的之處是，.iloc 是根據索引來進行選擇。

In [76]:
import  pandas as pd
import  numpy as np
df=pd.DataFrame(
    np.arange(48).reshape(6,8),
    index=['a','b','c','d','e','f'],
    columns=['s','t','u','v','w','x','y','z'])
print(df)
print()
print(df.iloc[1,:])
print("==============")
print(df.iloc[2,4])
print("==============")
print(df.iloc[[2,4],[4,6]])
print("==============")
print(df.iloc[2:4,4:6])
print("==============")
print(df.iloc[:,2])
print(df.iloc[:,-3])

    s   t   u   v   w   x   y   z
a   0   1   2   3   4   5   6   7
b   8   9  10  11  12  13  14  15
c  16  17  18  19  20  21  22  23
d  24  25  26  27  28  29  30  31
e  32  33  34  35  36  37  38  39
f  40  41  42  43  44  45  46  47

s     8
t     9
u    10
v    11
w    12
x    13
y    14
z    15
Name: b, dtype: int32
==============
20
==============
    w   y
c  20  22
e  36  38
==============
    w   x
c  20  21
d  28  29
==============
a     2
b    10
c    18
d    26
e    34
f    42
Name: u, dtype: int32
a     5
b    13
c    21
d    29
e    37
f    45
Name: x, dtype: int32

In [77]:
import  pandas as pd
import  numpy as np
df=pd.DataFrame(
    np.arange(48).reshape(6,8),
    index=['a','b','c','d','e','f'],
    columns=['s','t','u','v','w','x','y','z'])
print(df)
print()
print(df.iloc[2:,4:])
print('1---')
print(df.iloc[:4,:6])
print('2---')
print(df.loc['c':,'w':])
print('3---')
print(df.loc[:'e',:'y'])
print('4---')

    s   t   u   v   w   x   y   z
a   0   1   2   3   4   5   6   7
b   8   9  10  11  12  13  14  15
c  16  17  18  19  20  21  22  23
d  24  25  26  27  28  29  30  31
e  32  33  34  35  36  37  38  39
f  40  41  42  43  44  45  46  47

    w   x   y   z
c  20  21  22  23
d  28  29  30  31
e  36  37  38  39
f  44  45  46  47
1---
    s   t   u   v   w   x
a   0   1   2   3   4   5
b   8   9  10  11  12  13
c  16  17  18  19  20  21
d  24  25  26  27  28  29
2---
    w   x   y   z
c  20  21  22  23
d  28  29  30  31
e  36  37  38  39
f  44  45  46  47
3---
    s   t   u   v   w   x   y
a   0   1   2   3   4   5   6
b   8   9  10  11  12  13  14
c  16  17  18  19  20  21  22
d  24  25  26  27  28  29  30
e  32  33  34  35  36  37  38
4---

In [78]:
import  pandas as pd
import  numpy as np
df=pd.DataFrame(
    np.arange(48).reshape(6,8),
    index=['a','b','c','d','e','f'],
    columns=['s','t','u','v','w','x','y','z']
)
print(df)
print()
print(df.iloc[3:,:5])
print('---1---')
print(df.loc['d':,:'x'])
print('---2---')

    s   t   u   v   w   x   y   z
a   0   1   2   3   4   5   6   7
b   8   9  10  11  12  13  14  15
c  16  17  18  19  20  21  22  23
d  24  25  26  27  28  29  30  31
e  32  33  34  35  36  37  38  39
f  40  41  42  43  44  45  46  47

    s   t   u   v   w
d  24  25  26  27  28
e  32  33  34  35  36
f  40  41  42  43  44
---1---
    s   t   u   v   w   x
d  24  25  26  27  28  29
e  32  33  34  35  36  37
f  40  41  42  43  44  45
---2---

In [79]:
import  pandas as pd
import  numpy as np
df=pd.DataFrame(
    np.arange(48).reshape(6,8),
    index=['a','b','c','d','e','f'],
    columns=['s','t','u','v','w','x','y','z']
)
print(df)
print()
print(df.iloc[::2,::3])#Row間隔2 Colum間隔3
print('---1---')
print(df.loc[::2,::3])
print('---2---')

    s   t   u   v   w   x   y   z
a   0   1   2   3   4   5   6   7
b   8   9  10  11  12  13  14  15
c  16  17  18  19  20  21  22  23
d  24  25  26  27  28  29  30  31
e  32  33  34  35  36  37  38  39
f  40  41  42  43  44  45  46  47

    s   v   y
a   0   3   6
c  16  19  22
e  32  35  38
---1---
    s   v   y
a   0   3   6
c  16  19  22
e  32  35  38
---2---

In [80]:
import  pandas as pd
import  numpy as np
df=pd.DataFrame(
    np.arange(48).reshape(6,8),
    index=['a','b','c','d','e','f'],
    columns=['s','t','u','v','w','x','y','z']
)
print(df)
print()
print(df.iloc[1::2,1:7:2])
print('---1---')
print(df.loc['b'::2,'t':'y':2])
print('---2---')

    s   t   u   v   w   x   y   z
a   0   1   2   3   4   5   6   7
b   8   9  10  11  12  13  14  15
c  16  17  18  19  20  21  22  23
d  24  25  26  27  28  29  30  31
e  32  33  34  35  36  37  38  39
f  40  41  42  43  44  45  46  47

    t   v   x
b   9  11  13
d  25  27  29
f  41  43  45
---1---
    t   v   x
b   9  11  13
d  25  27  29
f  41  43  45
---2---

In [81]:
import  pandas as pd
import  numpy as np
df=pd.DataFrame(
    np.arange(48).reshape(6,8),
    index=['a','b','c','d','e','f'],
    columns=['s','t','u','v','w','x','y','z']
)
print(df)
print()
print(df.iloc[:,[2,3,5]])
print('---1---')
print(df.loc[:,['t','x','z']])
print('---2---')

    s   t   u   v   w   x   y   z
a   0   1   2   3   4   5   6   7
b   8   9  10  11  12  13  14  15
c  16  17  18  19  20  21  22  23
d  24  25  26  27  28  29  30  31
e  32  33  34  35  36  37  38  39
f  40  41  42  43  44  45  46  47

    u   v   x
a   2   3   5
b  10  11  13
c  18  19  21
d  26  27  29
e  34  35  37
f  42  43  45
---1---
    t   x   z
a   1   5   7
b   9  13  15
c  17  21  23
d  25  29  31
e  33  37  39
f  41  45  47
---2---

In [82]:
import  pandas as pd
import  numpy as np
df=pd.DataFrame(
    np.arange(48).reshape(6,8),
    index=['a','b','c','d','e','f'],
    columns=['s','t','u','v','w','x','y','z']
)
print(df)
print()
print(df.iloc[[1,4],[2,3,5]])
print('---1---')
print(df.loc[['c','f'],['t','x','z']])
print('---2---')

    s   t   u   v   w   x   y   z
a   0   1   2   3   4   5   6   7
b   8   9  10  11  12  13  14  15
c  16  17  18  19  20  21  22  23
d  24  25  26  27  28  29  30  31
e  32  33  34  35  36  37  38  39
f  40  41  42  43  44  45  46  47

    u   v   x
b  10  11  13
e  34  35  37
---1---
    t   x   z
c  17  21  23
f  41  45  47
---2---